/* Clases del componponente Fomr de Bootstrap */

.container-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 0;
  margin-left: 40px;
}
.text-form{
  width: 100%;
}
.text-form-title{
  width: 300px;
  font-weight: 700;
  font-size: 34px;
  color:#9462F2;
}

.text-form-paragraph{
  color: #67808E;
  font-weight: 500;
  font-size: 16px;
  width: 300px;
}

.form-label{
  color:#032C45;
  font-weight: 700;
}

.form-control::placeholder{
  color: #CDD5DA;
}

.text-form-password{
  color:#8945E6;
  font-weight: 400;
  font-size: 10px;
}

.olvidar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  color:#8945E6
}

.olvidar p{
  font-weight: 400;
  text-decoration-line: underline;
}
.btn-inicio{
width: 100%;

}
.bnt-ingreso{
  display: flex;
  flex-direction: column;
}

.btn-bg{
  background-color: #9462F2;
  border-color: #9462F2;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
}

.btn-bg:hover{
  background-color:#B5A4FD;
  border-color: #B5A4FD;
}

.derechos{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 10px;
  color: #9462F2;
  position:fixed;
}


/* Movil  520 pixeles*/
@media screen and (max-width: 520px){
   /* Contenedor principal */
   .container-main-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
    position: relative;
  }
  /* Contenedor de imagen principal */
  .container-img{
    display: block; 
    width: 100%;
    height: 86vh;
    background-image: url('../../img/ilustracion.png') ;
    background-repeat: no-repeat;
    background-size: 900px;
    background-position-x: -200px;
    background-position-y: bottom;
    opacity: 0.15;
    position:fixed;
    bottom: 0;
    
  }
  .container-formulario{
    position: relative;
    width: 100%;
    margin: 0;
    top:0;
    bottom: 0;
  }
  .nav{
    justify-content: center;
    margin: 0;
  }
  .text-form{
    margin:  1rem 0rem;
  }

  
  .text-main, .img-main{
    display: none;
  }

  /* Formulario */
  .tab-content{
    padding: 0 15px;
  }

  .container-formulario{
    position: absolute;
    margin-right: 50px;
    
    top:0;
    bottom: 0;
  }
  .text-form-password{
    width: 17rem;
  }

  .olvidar{
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .bnt-ingreso{
    margin-bottom: 0;
  }
  
  .derechos{
    width: 100%;
    position:fixed;
    bottom: 30px;
    margin: 0;

  }
  .derechos p{
    margin: 0;
  
  }

}




/* Tablet  desde 520P pixeles hasta 768 pixeles*/
@media screen and (min-width: 520px)and (max-width: 768px){
/* Contenedor principal */
.container-main-inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 100%;
  position: relative;
}
/* Contenedor de imagen principal */
.container-img{
  display: block; 
  width: 100%;
  height: 86vh;
  background-image: url('../../img/ilustracion.png') ;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: -200px;
  background-position-y: bottom;
  opacity: 0.15;
  position:fixed;
  bottom: 0;
  
}

.text-main, .img-main{
  display: none;
}

.container-formulario{
  position: relative;
  width: 100%;
  margin: 0;
  top:0;
  bottom: 0;
}

.tab-content{
  width: 70%;
  margin: 50px 0;
}

.derechos{
  width: 100%;
  position:fixed;
  bottom: 30px;
  margin: 0;

}
.derechos p{
  margin: 0;

}
}






/* Descktor */
@media screen and (min-width: 960px){
.container-main-inicio{
  display: flex;
  justify-content: space-between;
  
  margin: 0 80px;
  padding: 0;

}

.container-img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  
  background: #9462F2;
  border-radius: 0px 0px 72px 72px;
  overflow-x: auto;
  position: static;
  
}
.img-main img{
  width: 100%;
}

.text-main{
  margin: 40px 0 0 40px;
}
.text-main-title{
  width: 380px;
  font-weight: 700;
  font-size: 60px;
  color:#462872;
}
.linea{
  width: 80px;
  height: 4px;
  background-color: #FFAA00;
}
.text-main-pagrapha{
  width: 380px;
  font-weight: 500;
  font-size: 24px;
  color:#FFAA00;
}
.img-main{
  width: 100%; 
}

.container-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  position: static;
}
.tab-content{
  width: 80%;
  padding: 15px;
}
.tab-content-main{
  width: 100%;
}

.text-form{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-form-password{
  width: 280px;
  margin: 0;
}

.olvidar{
  margin-top: 40px;
  margin-bottom: 50px;
}

.bnt-ingreso{
  margin-bottom: 0;
}
.derechos{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 10px;
  color: #9462F2;
  position:static;
}

}
