.navbar-main-login{
  background-color: rgba(148, 98, 242, 1);
  border-radius: 0px 0px 40px 40px;
  margin: 0 30px;
  z-index: 1;
}


/* Movil  520 pixeles*/
@media screen and (max-width: 520px){
  .navbar-main-login{
    
    border-radius: 0px 0px 40px 40px;
    margin: 0 30px;
    z-index: 1;
  }
}

/* Tablet */
@media screen and (min-width: 500px){}

/* Descktor */
@media screen and (min-width: 960px){
  .navbar-main-login{
    border-radius: 0;
    width: 45.4%;
    margin: 0 80px;
    z-index: 1;
  }
}

.container-navbar{
  width: 100%;
  margin: 0 8px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color:#9462F2 ;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 4px;
  --bs-nav-tabs-border-color: #fff;
  --bs-nav-tabs-link-hover-border-color: #fff;
  --bs-nav-tabs-link-active-color: #9462F2;
  --bs-nav-tabs-link-active-border-color: #fff #fff #8945E6;
}

.nav-link{
  font-size: 24px;
  font-weight: 700  ;
}
.logo{
  width: 200px;
  height: 70px;
  border-radius: 48px;
  background-color: #B5A4FD;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}