.container-main-footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
z-index: 1;
}
.footer-icons{
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color:  #F0EEFF;

}
.footer-icons i{
  margin: 0 10px;
  color:  #462872;
}

.footer-derechos{
  height: 28px;
  background-color: #D0C7FE;
  display: flex;
  justify-content:center;
  align-items:center;
}
