.navbar-main-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
  position: static;
}
.linea-navbar-left{
  border: solid 1px#D2DAE2;
  background-color: #D2DAE2;
  width: 90%;

}
/* Movil  520 pixeles*/
@media screen and (max-width: 520px){
  .navbar-main-left{
    display:none;
  }
}