.container-main-search{
  width: 100%;
  height: 0;
  margin-top: 30px;
  margin-left: 0px;
  padding: 0 40px;
}
.bar-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: absolute;
  left: 5%;
  background-color: rgb(0, 0,0, 0);
  border:0;
  border-color:rgb(0, 0,0, 0);
  height: 0;
  width: 90%;
  padding: 0 20px;
}
.bar-search:hover{
  border-color:rgb(0, 0,0, 0);
  border-radius: 56px;
}
.input-search{
  z-index: 0;
  color:#9462F2
}

.btn-search{
  background-color: rgb(0, 0,0, 0);
  color: #CDD5DA;
  border-radius: 20px;
  border:solid 3px #B5A4FD;
  border-width:3px 3px 3px 0;
  
}
.form-control-search{
  color: #CDD5DA;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-clip: none;
  border-radius: 20px;
  /* border:solid 3px #B5A4FD;
  border-width: 3px 0 3px 3px; */
  
  width: 100%;
  z-index: 2;
}
.bg-img{
  display: none;
}



/* Movil  520 pixeles*/
@media screen and (max-width: 520px){

}


/* Tablet  desde 521 pixeles hasta 768 pixeles*/
@media screen and (min-width: 521px)and (max-width: 768px){

}

/* Desktop  desde 768 pixeles*/
@media screen and (min-width: 768px){
  .container-main-search{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 00px;
    margin-left: 0px;
    padding: 0 00px;

    
  }
  
  .bg-img{
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0px;
    isolation: isolate;
    background: #F0EEFF;
    border-radius: 0px 0px 72px 72px;
    overflow: hidden;
  }
  
  .img-under{
    width: 100%;
    height: 100vh;
    background-image: url('../../../img/ilustracion.png') ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -260px;
    opacity: 0.3;
    padding: 0 70px 0 70px;
  }
  
  .bar-search{
    left: 15%;
    width: 70%;
    height: 60px;
    background: #FFFFFF;
    border: 3px solid #B5A4FD;
    box-shadow: 0px 0px 6px rgba(0, 122, 51, 0.32); 
    border-radius: 56px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #CDD5DA;
  }
  .bar-search:hover{
    border-color:#9462F2;
  }
  .form-control-search{
    color: #CDD5DA;
    font-weight: 500;
    font-size: 24px;
    
    background-clip: none;
    
  }
  #form-control-search{
    border-radius: 0;
    border-width:  0 ;
    border: none;
    box-shadow: none;
  }
  
  .result-search{
    width: 97%;
    height: 82px;
    background-color: #ffffff;
    border-radius: 8px 8px 16px 16px;
    color: #B5A4FD;
    z-index: 0;
    padding: 10px 70px 10px 70px;
    margin-top: 10px;
    position: absolute;
    top: 47px;
    overflow-y: scroll;
    
}
.result-search::-webkit-scrollbar {
  width: 0;
 }
  

  .btn-search{
    background-color: white;
    color: #CDD5DA;
    border:0;
    
  }
}