/* .container-main-private{
  width: 100%;
  display: flex;
  margin-top: 40px;
} */

.img-detalle{
  width: 50%;
  height: 70vh;
  margin:0 60px;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 50px;

  
}
.img-detalle h5{
  margin-left: 80px;
  text-decoration: underline;
  cursor: pointer;
  color: #612FA4;
  font-weight: 700;
font-size: 20px;
}

.img-detalle img{
  width: 100%;
  max-height: 70vh;
  border-radius: 50px;
  
}
.description-detalle{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 70vh;
  padding-right: 100px;
  margin-top: 50px;
}

.description{
  margin-top: 90px;
}

.producto-favorito, .vendedor-comprar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}