*{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.active-link, .not-active-link{
  width: 186px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;

}
.active-link, .active-link:hover, .active-link:focus{
  background: #7937CB;
  border-radius: 8px;
  color: #F0EEFF;
}

.not-active-link{
  color: #9462F2;
  border-radius: 8px;
}

.not-active-link:hover{
  color: #fff;
  background-color:  #B5A4FD;
}

.form-control{
  background: #FFFFFF;
  border: 2px solid #98AAB3;
  border-radius: 4px;
  color:  #67808E;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
}
.form-select{
  
  border: 2px solid #98AAB3;
  border-radius: 4px;
  color:  #67808E;;
  font-weight: 400;
  font-size: 16px;
}

.form-control:active,
.form-select:active{
  
  border: 2px solid #A280F9;
}
.form-control:focus,
.form-select:focus{
  color:  #67808E;
  border: 2px solid #A280F9;
  box-shadow: 0 1px 2px 0 #A280F9, 0 1.5px 2.5px 0 #7937CB;
}

.btn-primary {
  --bs-btn-color: #F0EEFF;
  --bs-btn-bg: rgba(162, 128, 249, 1);
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #F0EEFF;
  --bs-btn-hover-bg: #B5A4FD;
  --bs-btn-hover-border-color: #B5A4FD;
  --bs-btn-focus-shadow-rgb: 181, 164, 253, 1;
  --bs-btn-active-color: #F0EEFF;
  --bs-btn-active-bg: #7937CB;
  --bs-btn-active-border-color: #7937CB;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #B5A4FD;
  --bs-btn-disabled-border-color: #B5A4FD;
}



input[type="file"]::file-selector-button {
  color:#F0EEFF;
  border: 2px solid #a280f9;
  background-color: #a280f9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding: 0.375rem 0.75rem;

}

input[type="file"]::file-selector-button:hover {
  background-color: #B5A4FD;
  border: 2px solid #B5A4FD;
}
input[type="file"]::file-selector-button:active {
  background-color: #7937CB;
  border: 2px solid #7937CB;
}